// DIN PRO
@font-face {
    font-family: 'DINPro';
    src: url('../fonts/DinPro.woff2') format('woff2'),
         url('../fonts/DinPro.woff') format('woff'),
         url('../fonts/DinPro.ttf') format('truetype');
} 
@font-face {
    font-family: 'DINProBold';
    src: url('../fonts/DinPro-Bold.woff2') format('woff2'),
         url('../fonts/DinPro-Bold.woff') format('woff'),
         url('../fonts/DinPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'DINProCondBold';
    src: url('../fonts/DinPro-CondBold.woff2') format('woff2'),
         url('../fonts/DinPro-CondBold.woff') format('woff'),
         url('../fonts/DinPro-CondBold.ttf') format('truetype');
}
@font-face {
    font-family: 'DINProMed';
    src: url('../fonts/DinPro-Medium.woff2') format('woff2'),
         url('../fonts/DinPro-Medium.woff') format('woff'),
         url('../fonts/DinPro-Medium.ttf') format('truetype');
}

// MARK PRO
@font-face {
    font-family: 'MarkPro';
    src: url('../fonts/MarkPro.woff2') format('woff2'),
         url('../fonts/MarkPro.woff') format('woff'),
         url('../fonts/MarkPro.ttf') format('truetype');
}
@font-face {
    font-family: 'MarkProBook';
    src: url('../fonts/MarkPro-Book.woff2') format('woff2'),
         url('../fonts/MarkPro-Book.woff') format('woff'),
         url('../fonts/MarkPro-Book.ttf') format('truetype');
}
@font-face {
    font-family: 'MarkProLight';
    src: url('../fonts/MarkPro-Light.woff2') format('woff2'),
         url('../fonts/MarkPro-Light.woff') format('woff'),
         url('../fonts/MarkPro-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'MarkProLightItalic';
    src: url('../fonts/MarkPro-LightItalic.woff2') format('woff2'),
         url('../fonts/MarkPro-LightItalic.woff') format('woff'),
         url('../fonts/MarkPro-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'MarkProBold';
    src: url('../fonts/MarkPro-Bold.woff2') format('woff2'),
         url('../fonts/MarkPro-Bold.woff') format('woff'),
         url('../fonts/MarkPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'MarkProMed';
    src: url('../fonts/MarkPro-Medium.woff2') format('woff2'),
         url('../fonts/MarkPro-Medium.woff') format('woff'),
         url('../fonts/MarkPro-Medium.ttf') format('truetype');
}